source_file: firmware.bin # input file when unpack is used
out_file: firmware-repack.bin # output file when repack is used
unpack_raw: unpack_raw # output folder for binaries such as FSBL and U-Boot
unpack_fs: unpack_fs # output folder for compressed parts such as squashfs
repack_fs: repack_fs # work folder / ouput folder for compressing unpack_fs back into squashfs files and combining them and unpack_raw into out_file
binwalk_mode: false # binwalk mode automatically sets up mtdparts through the binwalk command, individual files and filesystems will be saved in numerical order
mtdparts: 0x000000, 0x010000, loader,0x010000, 0x030000, fdt, 0x030000, 0x050000, fdt.restore, 0x050000, 0x0b0000, boot, 0x0b0000, 0x420000, romfs, 0x420000, 0xba0000, usr, 0xba0000, 0xc10000, web, 0xc10000, 0xf60000, custom, 0xf60000, 0xf80000, logo, 0xf80000, 0x1000000, mtd
#mtdparts: 0x0B0000, 0x41FFFF, romfs # partitions from your firmware, this is NOT COMPATIBLE with mtdparts from u-boot, format is BEGINh, ENDh, NAME
